body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('https://images.unsplash.com/photo-1484199316358-d7acb93729f2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1195&q=80');

}


h1 {
    color: white;
    font-size: 28px;
    font-weight: 100;
    line-height: 28px;
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 16px;
    font-weight: 100px;

}

li ::first-letter {
    text-transform: capitalize;

}

.weather-app-rapper {
    max-width: 600px;
    margin: 30px auto;

}

.weather-app {
    padding: 20px;
    border: 1px solid gray;
    border-radius: 5px;

}

.overveiw {
    margin-bottom: 20px;
}

.weather-temperature img {
    margin-right: 10px;
    height: 64px;
    width: 64px;
}

.weather-temperature strong {
    color: white;
    font-weight: 400;
    font-size: 64px;
    line-height: 1;

}

.weather-temperature .units {
    position: relative;
    font-size: 16px;

}

.weather-temperature .active {
    color: white;
    cursor: default;
}

.weather-temperature .active:hover {
    text-decoration: none;
}

.weather-forcast {
    margin: 20px;
    text-align: center;
    color: white;
}

.weather-forecast-date {
    font-size: 16px;
}

.weather-forecast-temperature-max {
    font-size: 16px;
    opacity: 0.9;
}

.weather-forecast-temperature-min {
    font-size: 13px;
    opacity: 0.7;
}